{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Entry
{% endblock %}

{% block body %}
    <h1>Edit Entry: {{ entry_title }}</h1>
    {% if error %}
    <h2 align="center">404 Not found</h2>
    {%else%}
    {% if message %}
    <div class="alert alert-danger" style="text-align: center" role="alert">
        {{ message }}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        <label for="entry_title">Entry Title:</label>
        <br>
        <input type="text" id="entry_title" name="entry_title" value="{{ entry_title }}">
        <br>
        <br>
        <label for="entry_text">Description:</label>
        <br>
        <textarea class="form-control" id="entry_text" name="entry_text" cols="20" rows = "20" placeholder="Write description in markdown">
            {% if entry_text%}
            {{ entry_text | safe }}
            {% endif %}
        </textarea>
        <br>
        <br>
        <input type="submit" value="Update Entry">
    </form>
{% endif %}
{% endblock %}